<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <button><a href="{% url 'ghost_page' %}" class="btn btn-danger btn-sm">Вернуться на главную</a></button>
    <h2>Войти</h2>
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <label for="username">Имя пользователя:</label>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" required><br>
        <button type="submit">Войти</button>
    </form>
</body>
</html>