<!DOCTYPE html>
<html>
<head>
    <title>Registration</title>
</head>
<body>
    <h2>Регистрация</h2>
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
    <form method="POST" action="{% url 'register' %}">
        {% csrf_token %}
        <label for="username">Имя пользователя:</label>
        <input type="text" id="username" name="username" required><br>
        <label for="password1">Пароль:</label>
        <input type="password" id="password1" name="password1" required><br>
        <label for="password2">Повторите пароль:</label>
        <input type="password" id="password2" name="password2" required><br>
        <button type="submit">Регистрация</button>
    </form>
</body>
</html>